* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #212227; /* Dark background */
    color: #F0F3F7; /* Light text color */
    line-height: 1.6;
}

header {
    background: #2F2F2F;
    color: #F0F3F7;
    padding: 40px 0;
    text-align: center;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}

h1 {
    margin: 0;
    font-size: 3rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #F0F3F7;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.resume-button {
    background-color: #EEC643;
    color: #2F2F2F;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    display: inline-block;
}

.resume-button:hover {
    background-color: #F0F3F7;
    color: #2F2F2F;
}

.contact-button {
    background-color: #EEC643;
    color: #2F2F2F;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
    display: inline-block;
}

.contact-button:hover {
    background-color: #F0F3F7;
    color: #2F2F2F;
}

main {
    max-width: 800px;
    margin: 30px auto;
    padding: 30px;
    background: #2F2F2F;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

footer {
    text-align: center;
    padding: 20px;
    background: #2F2F2F;
    color: #F0F3F7;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #2F2F2F;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

#resume-overlay iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.modal-content .close {
    color: #EEC643;
    font-size: 28px;
    font-weight: bold;
    float: right;
    cursor: pointer;
}

.modal-content .close:hover {
    color: #F0F3F7;
}

/* Buttons in Contact Modal */
.contact-modal-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-modal-buttons a {
    background-color: #EEC643;
    color: #2F2F2F;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.contact-modal-buttons a:hover {
    background-color: #F0F3F7;
    color: #2F2F2F;
}

.contact-modal-email-display {
    color: #EEC643;
    font-size: 1rem;
    margin-left: 10px;
}
